[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Night Light
Comment=Switch monitor temperature
Exec=nl-switch --autostart
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
