[Desktop Entry]
Version=1.0
Type=Application
Name=Night Light
Comment=Switch monitor temperature
Exec=nl-switch
Icon=nl-switch
Categories=Utility
Keywords=NightLight;RedLight;BlueLight
OnlyShowIn=XFCE;
Terminal=false
StartupNotify=false
